@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #1f2732;
}

a {
    color: #3d89f3;
    transition: 0.3s;
}

a:hover {
    text-decoration: none;
    color: #fd9678;
}

:focus {
    outline: none;
}

p {
    margin-bottom: 1.5rem;
}

input,
textarea {
    border: 2px solid #eee;
    outline: none;
    padding: 10px 15px;
    border-radius: 50px;
    width: 100%;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
    border: 2px solid #fd9678;
}

textarea {
    border-radius: 10px;
    height: 130px;
    resize: none;
}

.hc-spacer-top {
    padding-top: 80px;
}

.hc-spacer-bottom {
    padding-bottom: 80px;
}

.hc-spacer-high {
    padding-top: 170px;
}

.hc-btn {
    display: block;
    min-width: 140px;
    margin: auto;
    background: #fd9678;
    color: #fff;
    text-transform: capitalize;
    outline: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    border: none;
    border-radius: 50px;
    transition: 0.3s;
    max-width: max-content;
    line-height: normal;
    position: relative;
    box-shadow: 0px 0px 0px 4px rgb(253 150 120 / 15%);
}

.hc-btn::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 50px;
    z-index: 0;
    animation: hc_gotop_wave 2s linear infinite;
    -webkit-animation: hc_gotop_wave 2s linear infinite;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

@keyframes hc_gotop_wave {
    0% {
        box-shadow: 0px 0px 0px 0px #fd9678;
    }

    100% {
        box-shadow: 0px 0px 0px 12px #fd9678;
        opacity: 0;
    }
}

.hc-btn:hover {
    background: #1abc9c;
    color: #fff;
    box-shadow: 0px 0px 0px 4px rgb(26 188 156 / 0.15);
    transform: scale(1.05);
}

.hc-btn:focus {
    outline: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.hc-sub-heading {
    font-size: 20px;
    color: #1abc9c;
    position: relative;
    text-transform: capitalize;
}

.hc-sub-heading:after,
.hc-heading-wrap.text-center .hc-sub-heading:before {
    position: absolute;
    content: '';
    width: 50px;
    height: 2px;
    background: #1abc9c;
    top: 0;
    bottom: 0;
    margin: auto 0 auto 15px;
}

.hc-heading-wrap.text-center .hc-sub-heading:before {
    margin-left: -65px;
}

.hc-heading {
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 40px;
}

/* Main Css Start */
.hc-top-header .row,
.hc-main-header .row {
    align-items: center;
}

.hc-main-head-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hc-navbar>ul>li a {
    text-transform: capitalize;
}

.hc-navbar>ul>li>a {
    padding: 15px 0px;
    display: inline-block;
}

.hc-navbar li.active a {
    color: #ddbc9c;
}

.hc-main-header {
    padding: 10px 0;
    z-index: 9999;
    position: fixed;
    width: 100%;
}

.hc-main-header.hc-header-sticky {
    position: sticky;
    top: 0;
    z-index: 99;
    transition: 1s;
}

.hc-has-submenu:after {
    position: absolute;
    content: '';
    right: 0;
    width: 6px;
    height: 6px;
    background: transparent;
    border-right: 1px solid;
    border-bottom: 1px solid;
    transform: rotate(45deg);
    top: 0;
    bottom: 0;
    margin: auto;
}

.hc-navbar>ul>li.hc-has-submenu>a {
    padding-right: 15px;
}

.hc-head-btn {
    margin-left: 20px;
}

li.hc-home-new {
    position: relative;
}

li.hc-home-new:after {
    position: absolute;
    content: 'New';
    left: -9px;
    top: 0px;
    font-size: 8px;
    background: #ffffff;
    padding: 2px 8px;
    color: #fd9678;
    border-radius: 30px;
    transform: rotate(-40deg);
    border: 1px dashed;
    animation: 0.5s hc_home_new linear alternate infinite;
}

@keyframes hc_home_new {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {}
}



/* banner start */

.hc-banner1,
.hc-banner2 {
    position: relative;
    overflow: hidden;
}

.hc-banner-content {
    padding: 200px 0;
    z-index: 2;
    position: relative;
}

.hc-banner-content h2 {
    font-size: 20px;
    color: #1abc9c;
    position: relative;
}

.hc-banner-content h1 {
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 800;
    margin-bottom: 25px;
}

.hc-banner-box p {
    margin: 0;
}

.hc-banner-box {
    margin-bottom: 40px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 20px 0 #eee;
    border-left: 2px solid #fd9678;
}

.hc-banner-content h2:after {
    position: absolute;
    content: '';
    width: 50px;
    height: 2px;
    background: #1abc9c;
    top: 0;
    bottom: 0;
    margin: auto 0 auto 15px;
}

.hc-banner-img {
    text-align: center;
    position: relative;
    margin: auto;
    width: fit-content;
    width: -moz-fit-content;
    z-index: 10;
    bottom: 0;
    right: 0;
    left: 0;
}

.hc-banner-img:after,
.hc-banner-img:before {
    position: absolute;
    content: '';
    max-width: 400px;
    left: 20px;
    right: 20px;
    top: 20px;
    background: rgb(255 255 255 / 70%);
    z-index: 0;
    margin: auto;
    box-shadow: 0 0 20px 0 #eee;
    bottom: 20px;
    border-radius: 5px;
}

.hc-banner-img:before {
    top: 50px;
    bottom: 50px;
    left: 50px;
    right: 50px;
    z-index: 1;
}

.hc-banner-img img {
    z-index: 2;
    position: relative;
}

.hc-banner1:after,
.hc-banner2:after {
    position: absolute;
    content: '';
    right: -200px;
    top: -100px;
    bottom: -200px;
    background: #1abc9c;
    max-width: 765px;
    width: 100%;
    z-index: 0;
    transform: rotate(15deg);
}

.hc-banner2:after {
    right: unset;
    left: -100px;
    top: -100px;
    bottom: -200px;
    transform: rotate(160deg);
}

.hc-banner-shape {
    position: absolute;
    top: 100px;
    right: 0px;
}

.hc-banner-shape span {
    width: 235px;
    height: 235px;
    background: radial-gradient(#ffffff 2px, transparent 0px);
    z-index: 1;
    position: absolute;
    top: 100px;
    right: 100px;
    background-size: 20px 20px;
    opacity: 0.5;
    transform: rotate(-10deg);
}

.hc-banner:before {
    position: absolute;
    content: '';
    left: -150px;
    bottom: 0;
    width: 300px;
    height: 300px;
    background: #fd9678;
    border-radius: 100%;
    opacity: 0.1;
}


@media screen and (min-width: 992px) {
    .hc-navbar>ul>li {
        display: inline-block;
        margin-right: 20px;
        position: relative;
    }

    .hc-navbar>ul>li:last-child {
        margin-right: 0;
    }
}

@media screen and (max-width: 991px) {
    .hc-banner-content {
        padding: 150px 0 20px;
    }

    .hc-menu-toggle {
        width: 22px;
        text-align: center;
    }

    .hc-menu-toggle span {
        display: block;
        width: 22px;
        height: 2px;
        background: #1f2732;
        margin-bottom: 4px;
        -webkit-transition: 0.3s;
        transition: 0.3s;
    }

    .hc-menu-toggle span:nth-child(2) {
        width: 12px;
        background: #1abc9c;
        margin-left: auto;
        margin-right: auto;
    }

    .hc-menu-toggle span:nth-child(3) {
        margin-bottom: 0px;
    }

    .hc-open-menu .hc-menu-toggle span:nth-child(3) {
        -webkit-transform: translate(1px, -9px) rotate(48deg);
        transform: translate(1px, -9px) rotate(48deg);
    }

    .hc-open-menu .hc-menu-toggle span:nth-child(2) {
        -webkit-transform: translateY(9px);
        transform: translateY(9px);
        width: 24px;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        height: 5px;
        background: transparent;
        border-radius: 5px;
    }

    .hc-open-menu .hc-menu-toggle span:nth-child(1) {
        -webkit-transform: translate(1px, 6px) rotate(-48deg);
        transform: translate(1px, 6px) rotate(-48deg);
    }

    .hc-main-head-flex {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    .hc-navbar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: -270px;
        width: 260px;
        background: #fff;
        z-index: 99;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        overflow-y: auto;
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.07);
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.07);
        text-align: left;
    }

    .hc-navbar>ul li {
        border-bottom: 1px solid #eee;
        position: relative;
    }

    .hc-navbar>ul li a {
        padding: 15px;
        display: inline-block;
    }

    .hc-navbar>ul li:last-child {
        border-bottom: 0;
    }

    .hc-open-menu .hc-navbar {
        left: 0;
    }

    .hc-navbar ul.hc-submenu li:first-child {
        border-top: 1px solid #eee;
    }

    ul.hc-submenu {
        display: none;
    }

    ul.hc-submenu li a {
        margin-left: 20px;
    }

    .hc-has-submenu:after {
        right: 15px;
        top: 23px;
        bottom: auto;
    }

    .hc-banner-content h1 {
        font-size: 35px;
    }
}

@media screen and (max-width: 991px) {
    .hc-map-address {
        width: auto;
    }

    .hc-about-content {
        padding-top: 50px;
    }

    .hc-go-top {
        right: 50px;
    }

    .hc-banner-img {
        position: unset;
    }

    .hc-banner-shape,
    .hc-banner1:after,
    .hc-banner2:after {
        display: none;
    }
}

@media screen and (max-width: 767px) {

    .hc-top-head-div,
    .hc-top-head-right {
        text-align: center;
    }

    .hc-footer-contact-list {
        -ms-grid-columns: 1fr;
        grid-template-columns: repeat(1, 1fr);
    }

    .hc-footer-contact-list li {
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .hc-footer-contact-list li:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .hc-main-head-flex {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .hc-logo {
        text-align: center;
        margin-bottom: 10px;
    }

    .hc-spacer-bottom {
        padding-bottom: 60px;
    }

    .hc-spacer-top {
        padding-top: 60px;
    }
}

@media screen and (max-width: 574px) {

    .hc-heading {
        font-size: 30px;
    }

    .hc-go-top {
        width: 50px;
        height: 50px;
    }

    .hc-go-top svg {
        width: 15px;
        height: 15px;
    }

    .hc-heading-wrap.text-center .hc-sub-heading:before {
        margin-left: -45px;
    }

    .hc-sub-heading:after,
    .hc-heading-wrap.text-center .hc-sub-heading:before {
        width: 30px;
    }

    .hc-go-top.hc-go-top-show {
        bottom: 20px;
    }

    .hc-go-top {
        right: 20px;
    }

    .hc-tab-list li {
        margin-right: 15px;
    }

    .hc-tab-content {
        margin-top: 20px;
    }

    .hc-blog-data {
        width: 95%;
    }
}

/* banner end */

.section1 {
    background: #fff;
}

.section2 {
    background: #faffb1;
}